.navbar-header{
    background-color:  rgb(15, 163, 138);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 118px;
    text-align:center;
    font-size:32px;
    height: 118px;
    width: 255px;
}
#link{
    text-align: center;
    vertical-align: middle;
    line-height: 88px;
}